:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.product-image {
  max-width: 400px;
  width: 100%;
}

.rating span {
  color: #ffc000;
}

img.large {
  max-width: 100%;
}
img.thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

.dropdown-menu[data-bs-popper] {
  left: auto;
  right: 0;
}
.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
}

/* header */

.navbar-brand {
  font-weight: bold;
  font-size: 1.8rem;
}

a.header-link,
.header-link > a {
  border: 1px rgb(33, 37, 41) solid;
  border-radius: 2px;
  color: white !important;
  font-weight: bold;
}

a.header-link:hover,
.header-link > a:hover {
  color: white;
  border: 1px white solid;
}

.header .dropdown-menu,
.header .dropdown-item {
  color: black !important;
  background-color: white;
}
.header .dropdown-item a:hover {
  border: 1px rgb(33, 37, 41) solid;
}
.sub-header {
  background-color: #232f3e;
}

.cart-badge {
  position: absolute;
  color: #f08000;
  font-weight: bold;
  margin-left: 16px;
  margin-top: -3px;
}

/* Sidebar */
.side-navbar-backdrop {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.side-navbar {
  width: 340px;
  height: 100%;
  position: absolute;
  left: -350px;
  background-color: #f5f5f5;
  transition: 0.5s;
  z-index: 2;
}

.active-nav {
  left: 0;
}

.side-navbar-user {
  background-color: #232f3e !important;
  color: white;
  font-weight: bold;
}

button.side-navbar-user:hover {
  color: white;
}
